.drop-zone{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.drop-zone__container{
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}
.drop-zone__collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #eaeaea;
}
.drop-zone__img-container{
    display: flex;
    min-width: 0;
}
.drop-zone__img{
    padding: 20px;
    display: block;
    width: 300px;
    height: 600px;
    object-fit: cover;
    margin: 5px;
    padding: 5px;
    border: 1px solid #eaeaea;
}
.drop-zone__img-inner{
    display: flex;
    flex-direction: column;
}
