 /* Для disabled кастомного инпута */
input[type="file"]:invalid {
    display: none;
}

.form__input-file{
    color: transparent;
    pointer-events: none;
    cursor: default;
}
.form__image{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.form__input-range{
    /* Горизонтальная шкала */
    writing-mode: sideways-lr;
    width: 50px; 

}
