.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}
.form-blur {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 0;
  background-color: $date-select;
  border-radius: 0.3rem;
  z-index: 1000000000;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.show-form-blur {
  opacity: 0.5;
  animation-name: fade-in;
  height: 100%;
}

/* Анимация появления */
@keyframes fade-in {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 0.5;
    height: 100%;
  }
}

/* Скрываем элемент с анимацией */
.hide-form-blur {
  opacity: 0;
  height: 0%;
  animation-name: fade-out;
}

/* Анимация исчезновения */
@keyframes fade-out {
  from {
    opacity: 0.5;
    height: 100%;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.form__input {
  width: 100%;
  box-sizing: border-box;
}
.form__textarea {
  resize: none;
  background-color: inherit;
  font-size: 1rem;
}
.form__textarea:focus {
  outline: #fff;
}
.form__file {
  border: 1px solid $border-color;
  padding: 10px;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
}
.form__input-file {
  color: transparent;
  pointer-events: none;
  cursor: default;
}
.form__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.form__drop-zone {
  border: 1px solid #000;
}
.form__container {
  position: relative;
}
.form__label {
  position: absolute;
  background-color: $primary-color;
  z-index: 10000;
  font-size: 0.7rem;
  color: $secondary-color;
  top: -6px;
  left: 10px;
  padding-left: 3px;
  padding-right: 4px;
}
.form__checkboxs-wrapper {
}
.form__label-survey {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.form__checkboxs-title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.form__checkboxs {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.form__checkboxs-item {
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  padding: 10px;
  font-size: 0.8rem;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
}
.form__checkboxs-wrapper-input {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form__checkboxs-input {
}
.form__checkboxs-label {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 10px;
  &:hover {
    cursor: pointer;
  }
}
.form__container-range {
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
}
.form__range {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__range-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__input-range {
  width: 100%;
}

.form__number-range-value {
  width: 30px;
}
.form__number-range-value:nth-child(2) {
  text-align: center;
}

.form__number-range-view {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
.form__range-number {
  padding-top: 10px;
}
.form__button {
  width: 100%;
}
