.personal-profile__container {
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  padding: 20px;
  margin-bottom: 10px;
  @include box-shadow-for-container;
}
.personal-profile__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.personal-profile__wrapper-input {
  position: relative;
  display: flex;
  flex-direction: column;
}
.personal-profile__label-input {
  position: absolute;
  background-color: $primary-color;
  z-index: 10000;
  font-size: 0.7rem;
  color: $secondary-color;
  top: -6px;
  left: 10px;
  padding-left: 3px;
  padding-right: 4px;
}
.personal-profile__back-button {
}

.personal-profile {
  display: flex;
  flex-direction: column;
}
.personal-profile__message {
  padding-bottom: 10px;
}
.personal-profile__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
