.button-loader__image-wrapper {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.button-loader__image {
  width: 216px;
  height: 300px;
  object-fit: cover;
  transition: width 0.5s ease;
  @include respond-to($breakpoint-small) {
    width: 180px;
  }
  @include respond-to($breakpoint-medium) {
    width: 300px;
  }
}
