.form-change-password__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
  padding: 20px;
  gap: 10px;
  background-color: $primary-color;
  box-sizing: border-box;
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  z-index: 10000000000;
  @include respond-to($breakpoint-small) {
    width: 285px;
  }
  @include respond-to($breakpoint-medium) {
    width: 420px;
  }
}
.form-change-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
