.popup-interaction-user {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10002;
}
.popup-interaction-user__wrapper {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

  top: 45vh;
  left: 0;
  right: 0;
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  padding: 30px;
  margin: auto;
  -webkit-box-shadow: 1px 2px 44px -14px $card-new inset;
  -moz-box-shadow: 1px 2px 44px -14px $card-new inset;
  box-shadow: 1px 2px 44px -14px $card-new inset;

  @include respond-to($breakpoint-small) {
    font-size: 0.7rem;
    width: 210px;
  }
  @include respond-to($breakpoint-medium) {
    font-size: 0.9rem;
    width: 315px;
  }
}
.popup-interaction-user__text {
  text-align: center;

  @include respond-to($breakpoint-small) {
    font-size: 0.7rem;
    width: 200px;
  }
  @include respond-to($breakpoint-medium) {
    font-size: 0.9rem;
    width: 250px;
  }
}
.popup-interaction-user__buttons {
  display: flex;
  gap: 5px;
}
