.button__list-item_edit{
    background-image: url('../../../icons/edit-button.png');
    background-size: contain;
    background-position: center;
    padding-left : 22px;
    padding-top : 10px;
    padding-bottom : 10px;
    cursor: pointer;
    box-shadow: 0 0 2px #000;
    background-repeat : no-repeat;
    border: none;
}

.button__list-item_delete{
    background-image: url('../../../icons/delete.png');
    background-size: contain;
    background-position: center;
    padding-left : 22px;
    padding-top : 10px;
    padding-bottom : 10px;
    cursor: pointer;
    box-shadow: 0 0 2px #000;
    background-repeat : no-repeat;
    border: none;
}

.button__list-item:hover{
    opacity: 0.7;
}

.button__list-item:active{
    border: none;
}