.card-blur {
  width: 100%;
  background-color: $border-hover-color;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-card {
  opacity: 0;
  height: 0%;
  animation-name: fade-in;
}
.hide-card {
  opacity: 1;
  animation-name: fade-out;

  z-index: 100000;
  height: 150px;
}
.card-blur-title {
  text-align: center;
}
