$primary-color: #89b0ae;
$secondary-color: #f5f5f5;
$accent-color: #c7e5e2;
$border-color: #d7e3e9;
$border-hover-color: #d7e3e98a;

$date-now: #ffd6ba;
$date-select: #555b6e;

$card-updated: rgb(255, 255, 141);
$card-complete: rgb(144, 238, 144);
$card-new: rgb(127, 219, 255);

$error-color: #de6f63;

$bs: 320px;
$bm: 768px;
$bl: 1080px;
